.orderbook {
    height: calc(100% - 38px);
    .header,
    .status {
        height: 36px;
        line-height: 36px;
    }
    .asks,
    .bids {
        height: calc(50% - 26px);
        overflow: hidden;
    }
}
