.app {
    display: flex;
    flex-direction: column;
    width: 100%;
    .title {
        font-size: 14px;
        padding: 8px 12px;
    }
    .row-wrapper {
        margin-top: 10px;
        display: flex;
        height: 450px;
    }
    .grid {
        width: 350px;
        border-radius: 2px;
        margin: 0 5px;
        display: flex;
        flex-direction: column;
    }
}
